h4{
    color: whitesmoke;
    background-color: brown;
}
*{
    background-color: gainsboro;
    padding:0;
    margin: 0;
}
.Nbar{
    padding: 1px;
    margin: 5px;
}
.Navbar{
    padding:5px; 
    margin: 20px;  
}
#Nav{

}
a{
    margin:5px;
}
#footer a{
    display: grid;
    padding:2px;

}