h4{
    color: whitesmoke;
    background-color: brown;
}
*{
    /* background-color: gainsboro; */
    padding:0;
    margin: 0;
    box-sizing: border-box;
  
      
}

.Navbar{
    padding:20px; 
    /* margin: 20px;  */
    background: #000;
    /* padding-left: 700px; */
    height: 10vh;
}

#Nav{
        color: brown;
        font-size:19px;
        padding:  10px;
        z-index: 2;
        text-decoration: none;
       
}
a{
    justify-content: space-around;
    
    margin:5px;
}
#footer{

     
}
#footer a{
    /* display: flex; */
    float: inline-end;
    font-size: 15px;
}
p{
    color: #ffff;
    background-color: chocolate;
    font-weight: bolder;
}